html{margin: 0; padding: 0}
body{background: #E0E0E0; font-family: MicroSoft YaHei; font-size: 16px; margin: 0; padding: 0}

.left{float: left}
.right{float: right}
.self-content{background-color: #fff}
.remote-content{background-color: #b2e281}
#title{background-color: #D7FBE9; width: 100%; height: 35px; line-height: 35px; text-align: center;}
#close{background-color: red; width: 60px; height: 30px; border-radius: 5px; margin-top: 2px; position: absolute; top: 2px; right: 2px}
#chat-content{position: absolute; top: 35px; bottom: 132px; left: 0; right: 0; margin: 4px;}
.message{padding: 5px 0}
.message .clearfix:after{content: ' '; visibility: hidden; clear: both; height: 0; display: block;}
	.message .msg_content{display: inline;}
		.message .msg_content img{width: 40px; height: 40px; }
								.bubble{
									max-width: 300px; 
									min-height: 1em;
									font-size: 14px; 
									margin: 0 10px; 
									display: inline-block; 
									border-radius: 4px; 
									text-align: left; 
									position: relative; 
									vertical-align: top;
								}
								 .bubble:before, .bubble:after{position: absolute; top: 14px; border: 6px solid transparent; content: ''; }
								 .bubble.arrow_left:after, .bubble.arrow_left:before{right: 100%; border-right-color: #b2e281;}
								 .bubble.arrow_right:after, .bubble.arrow_right:before{left: 100%; border-left-color: #fff;}
									.arrow_content{}
									.arrow_content .plain{padding: 9px 13px}
			.message .msg_content .bubble pre{margin: 0; font-family: inherit; font-size: inherit; white-space: pre-wrap;}

.line{width: 100%; height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.4); position: absolute; bottom: 120px}
.chat-send-class{width: 100%; height: 120px; position: absolute; bottom: 0; overflow: hidden;}
	.chat-send-class > textarea{border: 0; padding: 0; width: 100%; height: 80px; line-height: 25px; font-size: 20px; resize: none;}
	.chat-send-class > button{float: right;}